<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AddPage</title>
</head>
<body>
<form action="/insert" method="post">
<table >
<tr>
<td><lable >Name:</lable></td>
<td><input type="text" placeholder="Enter Name" name="name"></td>
</tr>
<tr>
<td><lable >Mobile:</lable></td>
<td><input type="tel" placeholder="Enter Mobile Number" name="mobile"></td>
</tr>
<tr>
<td><lable >Email:</lable></td>
<td><input type="email" placeholder="Enter Email" name="email"></td>
</tr>
<tr>
<td><lable >Percentage:</lable></td>
<td><input type="number" name="percentage" placeholder="Enter Percentage"></td>
</tr>
<tr>
<td></td>
<td><button >Add Records</button></td>
</tr>
</table>
</form>
<a><button href="/">Back</button></a>
</body>
</html>