<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fetch</title>
</head>
<body>


	<h1 align="center">STRUDENT DETAILS</h1>
	<form action="/fetch" align="center">
		<input type="text" name="search">
		<button>Search</button>
	</form>
	<br>
	<table border="5px solid black" align="center" cellspacing="2px"
		cellpadding="10px">
		<tr>
			<th>Name</th>
			<th>Phone No</th>
			<th>Email</th>
			<th>Percentage</th>
			<th>Delete</th>
			<th>Edit</th>
		</tr>
		<tr th:each="s:${students}">
			<td th:text="${s.name}"></td>
			<td th:text="${s.mobile}"></td>
			<td th:text="${s.email}"></td>
			<td th:text="${s.percentage}"></td>
			<td><button>Delete</button></td>
			<td><button>Edit</button></td>
		</tr>
	</table>
	<div align="center" style="padding: 20px">
		<a href="/"><button>Back</button></a>
	</div>





</body>
</html>